{% extends "adminn/base.html" %}
{% load static %}
{% block content %}

<style>
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }

  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  .modal-body {
    max-height: calc(100vh - 200px); /* Adjust as needed */
    overflow-y: auto;
  }

  /* Custom styles for wider image */
  .dashboard-content {
    width: 100%; /* Make container full width */
    text-align: center; /* Center align content */
  }

  .dashboard-content img {
    width: 50%; /* Make image span the full width of the container */
    max-width: 50%; /* Ensure it doesn't exceed container size */
    height: auto; /* Keep the image aspect ratio */
  }
</style>

<div class="container-fluid mt-4 pt-4"> <!-- Use container-fluid for full-width layout -->
  <div class="dashboard-content">
    <h2>Welcome</h2>
    <img src="../media/blood.jpg" alt="Welcome Image" class="img-fluid" />
  </div>
</div>
{% endblock %}