{% extends "adminn/base.html" %}

{% block content %}
<style>
    html,
    body,
    .intro {
    height: 100%;
    }

    table td,
    table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }

    .card {
    border-radius: .5rem;
    }

    .table-scroll {
    border-radius: .5rem;
    }

    thead {
    top: 0;
    position: sticky;
    }
</style>

<div class="container mt-4 pt-4">
    <div class="dashboard-content">
        <!-- Your dashboard content goes here -->
        <h2>Welcome to the Patients</h2>
        <!-- Add your specific dashboard content here -->
    </div>
    <br>
    <section class="intro">
        <div class="bg-image h-100" style="background-color: #e9f1f3;">
          <div class="mask d-flex align-items-center h-100">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="card shadow-2-strong">
                    <div class="card-body p-0">
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                        
                        <table class="table table-dark mb-0">
                          <thead style="background-color: #030202;">
                            <tr class="text-uppercase text-success">
                              <th scope="col">Sl.no.</th>
                              <th scope="col">Patient name</th>
                              <th scope="col">Image</th>
                              <th scope="col">Blood type</th>
                              <th scope="col">Sex</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Address</th>
                              <th scope="col">Comment</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in data %}
                            <tr>
                              <td>
                                  {{ forloop.counter }}
                              </td>
                              
                              <td>
                                {{i.username}}
                              </td>

                              {% if i.image %}
        
                                <td class="py-3">
                                    <img src="{{ i.image.url }}" alt="{{ i.username}}" style="width: 50px; height: 50px;"> 
                                    <!-- <img src="" alt="image"/> -->
                                </td>
                              {% else %}
                                <td class="py-3">
                                  <p>no image</p>
                                </td>
                              {% endif %}

                              <td>
                                {{ i.blood_type}}
                              </td>

                              <td>
                                {{ i.sex}}
                              </td>

                              <td>
                                {{ i.email}}
                              </td>

                              <td>
                                {{ i.phone}}
                              </td>

                              <td>
                                {{ i.address}}
                              </td>

                              <td>
                                {{ i.comment}}
                              </td>
                              
                              <td>
                                {{ i.comment}}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}

